// Default Theme

#main-default {
    background-image: url("/img/DefaultTheme.png");
    background-color: $yellow;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Responsive

    @media screen and (min-width: 376px) {

        div.eq-content-area {
            max-width: 375px;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 320px) {
        .input-container {
            display: flex !important;
            flex-direction: column !important;
            justify-content: flex-start !important;
            padding: 7px !important;
        }

        span.mmr,
        span.trophy {
            font-size: 8px;
            font-weight: 900;
            display: block !important;
        }

        div.img-container,
        .mmr-2 {
            display: none;
        }

        .input-container input {
            width: 100% !important;
            padding: 0 !important;
            text-align: center !important;
        }

        div.main-menu-container .menu-btn {
            padding: 12px 10px !important;
        }
    }

    // Main Components

    div.eq-content-area {
        width: 100%;
        height: 500px;
        padding: 15px;

        &.vh-100 {
            height: 100vh !important;
        }
    }

    // classic-mode.html
    div#game-area {
        margin: 25px 0;
        height: 100%;
        gap: 5%;

        .timer-container {
            width: 100%;
            gap: 5%;

            input {
                background: #000;
                text-align: center;
                padding: 14.5px 0 !important;
                border-radius: 12px;
                width: 100%;
                outline: none;
                border: none;
                color: $white;
                text-align: center;
                padding: 0;
                font-size: $font-base;
            }
        }

        .game-grid {
            //border: 3px solid #000;
            border-radius: 12px;
            padding: 5px;
            //background: $white_25;
            height: calc(100% - 24.5%);
            margin: auto 0;
            grid-template-rows: auto auto auto auto;
            gap: 0px;

            .row {
                display: grid;
                grid-template-columns: auto auto auto auto;
                margin: 5px 10px;
                background: #fff;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 20px;
                }
            }
        }

        button.reset-btn {
            background: $white;
            border-radius: 8px;
            border: 3px solid #000;
            box-shadow: 0 6px 0 rgba(0, 0, 0, 0.25);
            padding: 17px 0;
            font-weight: 700;
        }

        button:active {
            box-shadow: 0 2px 0 rgba(0, 0, 0, .5);
            transform: translateY(4px);
        }

        span.data {
            font-size: 24px;
            font-weight: 800;
        }
    }

    // win lose announcement
    div#find-match {
        height: 100%;

        main {
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .button {
                @include createBox;
                background-color: white;
                color: black;
            }

            .content {
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .logo {
                    width: 12rem;
                    height: 12rem;
                    border: 3px solid black;
                    border-radius: 12px;
                    background-image: url('/img/Pvp\ Logo.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 9rem;
                    object-fit: cover;
                    margin-bottom: 1rem;
                }

                .find-match {
                    width: 100%;
                    height: 10%;
                }

                .cancel {
                    width: 100%;
                    height: 10%;
                }

                .tips {
                    width: 100%;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    text-align: center;
                    color: white;
                    margin: 1rem 0;
                }
            }

            .menu {
                width: 100%;
                height: 10%;
            }
        }

        footer {
            height: 5%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: .8rem;
            }
        }
    }

    // pvp-changes
    // pvp v2
    div#pvp {
        height: 100%;
        position: relative;

        .pvpOverlay {
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .75);
            top: 0;
            left: 0;
            z-index: 5;

            span {
                font-size: 4rem;
                color: white;
            }
        }

        header {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            row-gap: .75rem;
            font-family: poppins, sans-serif;

            .timer {
                display: flex;
                justify-content: space-between;
                column-gap: 10px;
                height: 25%;


                div {
                    @include createBox;
                    background-color: black;
                    font-size: $font-xs;
                    font-weight: 900;
                }

                div:nth-child(1) {
                    background: $blue01;
                }

                div:nth-child(2) {
                    width: 130%;
                }

                div:nth-child(3) {
                    background: $red01;
                }
            }

            .versus-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 10px;
                height: 40%;

                div {
                    @include createBox;

                    span {
                        font-size: 60px;
                        font-weight: 900;
                    }

                    &.versus {
                        @include createBox;
                        border: 0;
                        width: 33.33%;

                        .exit {
                            width: 80px;
                            height: 100%;
                            // background-color: white;
                            padding: 1rem;
                            background-image: url('/img//Exit.png');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 2.5rem;
                            object-fit: cover;
                        }

                    }
                }


                .player {
                    width: 35%;
                    background-image: url('/img/Pvp\ Logo.png');
                    background-size: 85%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    object-fit: cover;
                    border-radius: 20px;
                    box-shadow: 0 6px 0 rgb(0, 0, 0, .25);

                    &.one {
                        background-color: $blue01;
                    }

                    &.two {
                        background-color: $red01;
                    }
                }

                span {
                    font-weight: 900;
                    font-size: $font-l;
                }
            }

            .points {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 50px;
                height: 20%;
                font-family: poppins, sans-serif;

                span {
                    font-weight: bold;
                }

                div {
                    @include createBox;

                    &.one {
                        background-color: $blue01;
                    }

                    &.two {
                        background-color: $red01;
                    }
                }
            }

        }

        main {
            height: 60%;
            padding: 0;

            .game-area {
                position: relative;
                border-radius: 12px;
                z-index: 0;
                height: 90%;

                .equation {
                    @include equationBox;
                    margin: 25px 0;
                    z-index: 99;
                    box-shadow: 0 6px 0 rgb(0, 0, 0, .25);

                    .circle {
                        display: none;
                        position: absolute;
                        right: 35%;
                        top: -40%;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        border: 3px solid #000;
                        background-color: black;
                        color: white;
                        font-size: .7rem;

                        &.selected-1:before {
                            vertical-align: sub;
                            content: "1";
                        }

                        &.selected-2:before {
                            vertical-align: sub;
                            content: "2";
                        }

                        &.selected-3:before {
                            vertical-align: sub;
                            content: "3";
                        }

                        &.selected-4:before {
                            vertical-align: sub;
                            content: "4";
                        }

                    }

                    &.equation-1 {
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        top: .5em;
                        left: 0;
                        right: 0;
                        text-align: center;
                    }

                    &.equation-2 {
                        position: absolute;
                        margin-top: auto;
                        margin-bottom: auto;
                        left: .5rem;
                        top: 0;
                        bottom: 0;
                        text-align: center;
                    }

                    &.equation-3 {
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        bottom: .5rem;
                        left: 0;
                        right: 0;
                        text-align: center;
                    }

                    &.equation-4 {
                        position: absolute;
                        margin-top: auto;
                        margin-bottom: auto;
                        right: .5rem;
                        top: 0;
                        bottom: 0;
                        text-align: center;
                    }

                    &.active {
                        background-color: $blue01;
                        color: white;

                        .circle {
                            display: block;
                        }
                    }
                }

                .equation:active {
                    //box-shadow: 0 0 30px $background_c;
                    background: $yellow;
                    color: white;
                    transform: translateY(4px);
                }

                .big-square {
                    border: 3px solid #000;
                    position: absolute;
                    width: 170px;
                    height: 170px;
                    right: 0;
                    left: 26%;
                    top: 25%;
                    z-index: 0;
                    transform: rotate(45deg);

                }
            }

            .reset {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 12%;
                padding-top: .3rem;

                .button-reset {
                    @include createBox;
                    background-color: white;
                    color: black;
                    box-shadow: 0 6px 0 rgb(0, 0, 0, .25);
                }

                .button-reset:active {
                    box-shadow: 0 2px 0 rgb(0, 0, 0, .5);
                    transform: translateY(4px);
                }
            }
        }

        footer {
            height: 3%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: .8rem;
            }
        }
    }

    // versus screen
    div#versus-screen {
        height: 100%;

        main {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 95%;


            .container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span.versus {
                    font-size: 1.8rem;
                    color: white;
                    font-weight: 900;
                    margin-bottom: .3rem;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        color: white;
                        font-weight: 700;
                        margin-bottom: .3rem;
                    }
                }

                .player {
                    text-align: center;
                    border-radius: 12px;
                    border: 3px solid black;
                    color: white;
                    width: 7rem;
                    height: 7rem;
                    background-image: url('/img/Pvp\ Logo.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 4rem;
                    object-fit: cover;

                    &.one {
                        background-color: $blue01;
                    }

                    &.two {
                        background-color: $red01;
                    }
                }

                .player-mmr {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 3rem;
                    border-radius: 12px;
                    border: 3px solid black;
                    color: black;
                    background-color: white;
                    margin-top: .3rem;
                }
            }

            .eq-title-container {
                margin-top: 1rem;
                width: 100%;
            }
        }

        footer {
            height: 5%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: .8rem;
            }
        }
    }

    // win lose announcement
    div#win-lose {
        height: 100%;

        main {
            height: 95%;
            position: relative;
            display: flex;

            .container {
                width: 100%;
                height: 93%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .match-status {
                    h1 {
                        color: white;
                        font-size: 4rem;
                    }
                }

                .player-information {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .3rem;

                    .player-name {
                        color: white;
                        font-weight: 700;
                    }

                    .player {
                        border-radius: 12px;
                        border: 3px solid black;
                        width: 100%;
                        height: 5rem;
                        background-image: url('/img/Pvp\ Logo.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 4rem;
                        object-fit: cover;

                        &.one {
                            background-color: $blue01;
                        }

                        &.two {
                            background-color: $red01;
                        }
                    }

                    .info {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50px;
                        border-radius: 12px;
                        border: 3px solid black;
                        color: black;
                        background-color: white;
                    }

                }
            }

            .menu {
                width: 100%;
                height: 7%;

                span {
                    @include createBox;
                    color: black;
                    background-color: white;
                }
            }
        }

        .menu {
            position: absolute;
            bottom: 0;
        }


        footer {
            height: 5%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: .8rem;
            }
        }
    }

    // main-menu.html
    div.eq-header {

        gap: 5px;

        div.eq-mm {
            margin: 30px auto !important;
        }

        span.mmr,
        span.trophy {
            display: none;
        }

        .left-side {
            height: 120px;
            width: 30%;
            flex: 1;

            button {
                width: 55.59px;
                border-radius: 12px;
                background: $white;
                box-shadow: 0 6px 0 rgba(0, 0, 0, .25);
                border: 3px solid #000;
                padding: 3px 4.8px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            button#exit-game {

                img {
                    width: 100%;
                    padding: 6px 2px;
                }
            }

            button:active {
                box-shadow: 0 2px 0 rgba(0, 0, 0, .5);
                transform: translateY(4px);
            }
        }

        .right-side {
            height: 120px;
            width: 30%;
            flex: 1;

            .mmr-2 {
                font-size: $font-xs;
                font-weight: 900;
                width: 30%;
                text-align: end;
            }

            .input-container {
                background: $white;
                border: 3px solid #000;
                border-radius: 12px;
                height: 50px;
                padding: 0px;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                box-shadow: 0 6px 0 rgba(0, 0, 0, .25);

                input {
                    width: 100%;
                    background: transparent;
                    font-size: $font-xs;
                    font-weight: bold;
                    border: none;
                    outline: none;
                    text-align: center;
                    height: 50px;
                    padding: 0 10px;
                }

                .eq-mmr {
                    text-align: start;
                    width: 60%;
                }

            }

            .img-container {
                width: 30px;
                height: 45px;
                padding: 10px;
                background: $yellow;
                border-radius: 8px 0 0 8px;
                border-right: 3px solid #000;
                background-image: url("/img/trophy.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-color: $yellow;
            }
        }

        .game-logo {
            width: 40%;

            div#classic-logo,
            div#main-logo {
                background: $yellow;
                border: 3px solid #000;
                border-radius: 20px;
                box-shadow: 0 6px 0 rgba(0, 0, 0, 0.25);
                max-width: 121px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            div#main-logo {
                padding: 18px;
                height: 120px;
            }

            img {
                width: 100%;
                margin: 0 auto;
            }

        }
    }

    div.main-menu-container {

        div.menu {
            height: 330px;
        }

        & .menu-btn:hover {
            background: rgba(255, 255, 255, .25);
            border: 3px solid $white;

            div.img-container {
                border: 3px solid $white;
            }

            h2,
            p {
                color: $white;
            }

        }

        & .menu-btn:active {
            box-shadow: 0 2px 0 rgba(0, 0, 0, .5);
            transform: translateY(4px);
        }

        .menu-btn {
            background: $white;
            border-radius: 12px;
            border: 3px solid #000;
            padding: 12px 25px;
            box-shadow: 0 6px 0 rgba(0, 0, 0, .25);
            height: auto;

            h2 {
                margin: 0;
            }

            div.img-container {
                width: 25%;
                background: $yellow;
                border-radius: 12px;
                border: 3px solid #000;
                padding: 7px;
                box-shadow: 0 4px 0 rgba(0, 0, 0, .25);
                display: flex;
                justify-content: center;
                margin-right: 20px;

                img {
                    margin: 0 auto;
                    height: 50px;
                }
            }
        }
    }

    div.eq-version {
        span {
            font-size: $font-xxs;
            color: #000;
            font-weight: 400;
            padding: 15px;
        }
    }

    .eq-title-area {
        width: 100%;
        background: $white;
        border: 3px solid #000;
        max-width: 95%;
        margin: 0 auto;
    }

    .square {
        margin-top: -70px;

        .square-left,
        .square-right {
            height: 80px;
        }

        .us {
            background: $white;
            width: 25px;
            height: 25px;
            border: 3px solid #000;
        }

    }

    div.eq-mm-container .eq-title-container {
        margin: 30px auto;
    }

    div.eq-nn-container .eq-title-container {
        margin: 30px auto 56px auto;
    }

    div.eq-title-container {

        h1 {
            font-size: 20px;
            font-weight: 900;
            text-align: center;
        }

        p {
            color: $white;
            text-align: center;
            font-weight: 400;
            line-height: 1.50em;
        }

        .eq-sub-text {
            padding: 0 18%;
        }
    }


    // Set-nickname.html
    .eq-set-nickname {
        padding: 25px;
        background: $yellow;
        border-radius: 15px;
        border: 3px solid #000;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 25px rgba(0, 0, 0, .25);

        .eq-nickname-container {
            padding: 0 14px;
        }

        .eq-title-area {
            width: 100%;
            background: $white;
            border: 3px solid #000;
            max-width: 95%;
            margin: 0 auto;
        }

        span.nickname-restrictions {
            margin: 5px auto 15px auto;
            color: $white;
            font-size: $font-xs;
        }

        input {
            border: none;
            width: 100%;
            font-size: 20px;
            background: transparent;
            color: #000 !important;
            padding: 5px 30px;
            outline: none;
            text-align: center;
            font-weight: bold;
        }

        .eq-button-area {
            width: 100%;
            gap: 5%;
        }

        button {
            border: 3px solid #000;
            border-radius: 8px;
            background: $white;
            padding: 5px;
            font-size: $font-base;
            font-weight: 500;
            width: 100%;
            box-shadow: 0 6px 0 rgba(0, 0, 0, .25);
        }

        button:active {
            box-shadow: 0 2px 0 rgba(0, 0, 0, .5);
            transform: translateY(4px);
        }

        .eq-connect img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

        .square {
            margin-top: -45px;

            .square-left,
            .square-right {
                height: 50px;
            }

            .us {
                background: $white;
                width: 20px;
                height: 20px;
                border: 3px solid #000;
            }

        }
    }
}