// Default Theme

$black : #000;
$white : #fff;
$white_25: rgba(255,255,255,0.25);
$yellow : #FDC613;
$light_yellow : #fed44e;

// font-sizes

$font-xxs : 0.625rem; // 10px
$font-xs : 0.75rem; //12px
$font-sm : 0.875rem; // 14px
$font-base : 1rem; //16px
$font-m : 1.125rem; //18px;
$font-l : 1.875rem; //30px;

// font-family
